<apex:page controller="DelilahsAdderController">
    <apex:form >
        <apex:pageBlock title="Delilah's Adder Extraordinaire!" >
            <apex:pageBlockSection columns="1">
                <apex:inputText label="Num Sprinkles" value="{! numSprinkles }"/>
            </apex:pageBlockSection>
            <apex:commandButton action="{! add }" value="add!"/>
        </apex:pageBlock>
    </apex:form>
    <apex:pageBlock title="Total Sprinkles" rendered="{! added == true }">
        <p>{! addTo } + {! numSprinkles } = {! totalSprinkles } total sprinkles</p>
    </apex:pageBlock>
</apex:page>